* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../../assets/background-logincadastro.jpg);
    background-size: cover;
    color: #FFFFFF;
}
.cadastro, .login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 500px;
    height: 60vh;
    background: #2e2e2e;
    background: linear-gradient(151deg,rgba(46, 46, 46, 1) 0%, rgba(181, 181, 181, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    border: none;
    border-radius: 20px;
}   

.container h1 {
    font-size: 2.5rem;
}

.container button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(0, 102, 255);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
    color: #FFFFFF;
}

.container button:hover {
    background-color: rgb(45, 129, 255);
}

.form {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
}

.form label {
    font-size: 1.2rem;
}

.form input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 30px;
}

.p-link {
    text-decoration: none;
    color: #003566;
    font-weight: bold;
}