* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    height: 50vh;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    border: none;
    border-radius: 20px;

}   

.container h1 {
    font-size: 2.5rem;
}

.container button {
    width: 150px;
    height: 70px;
    border-radius: 10px;
    border: none;
    background-color: aqua;
    font-weight: bold;
}

.container button:hover {
    background-color: rgb(7, 216, 216);
}

.form {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.form label {
    font-size: 1.2rem;
}

.form input {
    width: 300px;
    height: 30px;
}